.quote {
  display: block;
  max-width: 720px;
  margin: 1rem auto 0;
  text-align: center;

  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.7;
}

.quote-credit {
  display: block;
  max-width: 720px;
  margin: 0.8rem auto 0;
  text-align: right;

  font-size: 1.5rem;
}



/* Socials */
.social-links {
  justify-content: center;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  /* margin-top: 1.5rem; */
}

.social-link {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.75rem 0.5rem;
  /* border: 2px solid currentColor;
  border-radius: 8px; */
  text-decoration: none;
  transition: all 0.3s ease;
  color: inherit;
  font-weight: 500;
}

.social-link:hover {
  transform: translateY(-3px);
  text-decoration: underline;
}

.social-link .icon {
  width: 2rem;
  height: 2rem;
  fill: currentColor;
}

@media (max-width: 768px) {
  .social-links {
    flex-direction: column;
    gap: 1rem;
  }

  .social-link {
    justify-content: center;
  }
}
